<div class="col-md-2 col-sm-12 m-2" style="width: 140px">
  <!--番組ヘッダー-->
  <div class="border bg-light" style="height: 60px; position: sticky; top: 0; z-index: 1">
    <div class="card-body">
      <h6 class="card-title"><%= station.name %></h6>
    </div>
  </div>
  <!--番組タイトルー-->
  <% programs.each do |program| %>
    <% truncated_title = program.title.length > 15 ? program.title[0..5] + '...' : program.title %>
		<div class="card" style="height: <%= program.time / 60 * 2 %>px;" >
			<div class="card-body">
			<h6 class="card-title">
        <span class="truncate-text" style="text-overflow: ellipsis;"><%= truncated_title %></span>
      </h6>
      <P><%= I18n.l(program.start_datetime, format: :time) %>〜<%= I18n.l(program.end_datetime, format: :time) %></p>
		  </div>
    </div>
	<% end %>
</div>