<div class="col-md-2 col-sm-12" style="width: 150px">
  <!--番組ヘッダー-->
  <div class="border p-2 bg-secondary d-flex align-items-center overflow-hidden" style="height: 40px; position: sticky; top: 0; z-index: 1">
      <span class="text-left text-nowrap text-white"><%= station.name %></span>
  </div>
  <!--番組タイトルー-->
  <% programs.each do |program| %>
		<div class="border d-flex overflow-hidden" data-controller="programs" style="height: <%= [program.time / 60 * 4, 50].max %>px;" >
			<div class="position-relative" style="width:10px;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="<%= program.title %>">
        <span class="bg-time position-absolute top-0 start-0 text-white"><%= program.start_datetime.strftime('%M') %></span>
      </div>
      <%= link_to program_path(program) do %>
        <div class="btn text-start texr-wrap text-dark fw-medium" style="width: 140px;" data-programs-target="title">
          <p><%= program.title %></p>
        </div>
      <% end %>
		</div>
  <% end %>
</div>
